<div class="container">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="login">
            Login
          </label>
          <input type="text" id="login" class="form-control" name="login" ngModel required>
          <label for="password">
            Password
          </label>
          <input type="text" id="password" class="form-control" name="password" ngModel required>
          <label for="nom">
            Nom
          </label>
          <input type="text" id="nom" class="form-control" name="nom" ngModel required>
          <label for="prenom">
            Prenom
          </label>
          <input type="text" id="prenom" class="form-control" name="prenom" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>
      </form>
    </div>
  </div>
</div>