<div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="dateDebut">
              Date de début d'activité
            </label>
            <input type="date" id="dateDebut" class="form-control" name="dateDebut" ngModel required>
            <label for="siret">
              Numéro de Siret
            </label>
            <input type="text" id="siret" class="form-control" name="siret" ngModel required>
            <label for="typeActivite">
              Type d'activité
            </label>
            <select class="form-control" id="typeActivite" name="typeActivite" ngModel required>
                <option value="LIBERAL">libérale</option> 
                <option value="COMMERCIAL" selected>Commerciale</option>
              </select>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="true" id="siArce" name="siArce" ngModel>
                  <label class="form-check-label" for="siArce">
                    Cochez si vous êtes bénéficiaire de l'ARCE
                  </label>
                </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>