<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <p>Bienvenue {{entrepreneur.civilite.nom}}</p>
          <button type="button" class="btn btn-primary" *ngIf="isAucuneEntreprise()" [routerLink]="['/declarerEntreprise', entrepreneur.id]">Déclarer son entreprise</button>
          <button type="button" class="btn btn-primary" *ngIf="isEcheanceNonDeclare()" (click)="onClickDeclarationCa()">Déclarer échéance en cours</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="afficherFormulaireDeclarationCa">
    <app-chiffre-affaire></app-chiffre-affaire>
  </div>
</div>